.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  width: 100%;
  padding: 20px 0; /* Reduced padding for a slimmer header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Adjust if necessary */
  color: white;
}

/* Adjusted for a more subtle link appearance */
.App-link {
  color: #61dafb;
  margin-top: 20px;
}


/* Additional styles for list and form */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

input, button {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #4CAF50; /* A nice green */
  color: white;
  border: none;
}

button:hover {
  opacity: 0.9;
}

.update-spreadsheet-btn {
  align-self: flex-end;
  margin: 10px;
  /* Add any additional styling you want for the button here */
}

